.container {
  margin: auto;
  max-width: 700px;
  width: 50% !important;
}

.title {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.link {
  color: #f20d00;
}

.link:hover {
  color: #dc2419;
}

.priority {
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}

.group {
  margin-bottom: 2rem;
}

.date-select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.submit-form {
  text-align: center
}

.submit-button {
  width: 25rem;
  background: #f20d00 !important;
  text-shadow: none !important;
  font-size: 15px !important;
  color: white !important;
  border-radius: 10px !important;
}

.order-list {

}

.order-card {
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  height: 10rem;
}

.order-container {
  margin: auto;
  max-width: 800px;
  width: 75% !important;
}

h3 {
  margin-top: 10px !important;

}

.order-title {

}

.status {
  color: #f20d00;
  float: right;
  margin-right: 10px;
  font-size: 17px;
}
